body {
    background-color: #A1C7E0;
}

h1{
    font-family: Georgia;
    margin-left: 35%;

    color: rgb(255, 255, 255);
    font-size: 75px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0),
                 0px 0px 10px rgb(0, 0, 0),
                 0px 0px 15px rgb(0, 0, 0);


}
.aluno {

    margin-left: 34%;
    width: 400px;

  

}


.inp{

    font-size: 15px;
    width: 250px;
    height: 25px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid black;


  
}


.pesquisar{
    color: rgb(2, 2, 2);
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    margin-left: 5%;
    font-family: Georgia;

}

.salvar{
    border-radius: 7px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black;
    background-color: rgb(54, 209, 62);
    font-family:Georgia;
    height: 30px;
    width: 90px;
    font-size: large;
    margin-left: 10px;
}
.excluir{
    border-radius: 7px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black;
    background-color: rgb(250, 21, 21);
    font-family:Georgia;
    height: 30px;
    width: 90px;
    margin-left: 10px;
    font-size: large;
                
                
}
.pesquisar{
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -2%;
    font-size: 15px;
    width: 50px;
    height: 31px;
    border-left: none;
 
    



}
button:hover{
    transform:scale(1.1);
 
}

button:active{
    background-color: rgb(34, 209, 240);
}

select{
    margin-left: 1%;
    border-radius: 3px;
    height: 27px;
    width: 400px;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black;
}

.segunda{
    background-color: #7393a8b6;
    width: 300px;
    height: 475px;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black,
                0px 0px 15px black;
}

.segunda:hover{
    transform:scale(1.1);

}

.segunda h2{
    margin-left: 18%;
    padding: 15px;
    font-size: 30px;
    font-family: Verdana;
}

.terça{
    background-color: #7393a8b6;
    width: 300px;
    height: 475px;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black,
                0px 0px 15px black;
}

.terça:hover{
    transform:scale(1.1);

}

.terça h2{
    margin-left: 25%;
    padding: 15px;
    font-size: 30px;
    font-family: Verdana;
}


.quarta{
    background-color: #7393a8b6;
    width: 300px;
    height: 475px;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black,
                0px 0px 15px black;
}

.quarta:hover{
    transform:scale(1.1);

}

.quarta h2{
    margin-left: 20%;
    padding: 15px;
    font-size: 30px;
    font-family: Verdana;
}

.quinta{
    background-color: #7393a8b6;
    width: 300px;
    height: 475px;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black,
                0px 0px 15px black;
}

.quinta:hover{
    transform:scale(1.1);

}

.quinta h2{
    margin-left: 20%;
    padding: 15px;
    font-size: 30px;
    font-family: Verdana;
}

.sexta{
    background-color: #7393a8b6;
    width: 300px;
    height: 475px;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black,
                0px 0px 15px black;
}

.sexta:hover{
    transform:scale(1.1);

}

.sexta h2{
    margin-left: 25%;
    padding: 15px;
    font-size: 30px;
    font-family: Verdana;
}

.sabado{
    background-color: #7393a8b6;
    width: 300px;
    height: 475px;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black,
                0px 0px 15px black;
}

.sabado:hover{
    transform:scale(1.1);

}

.sabado h2{
    margin-left: 18%;
    padding: 15px;
    font-size: 30px;
    font-family: Verdana;
}

.domingo{
    background-color: #7393a8b6;
    width: 300px;
    height: 475px;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black,
                0px 0px 15px black;
}

.domingo:hover{
    transform:scale(1.1);

}

.domingo h2{
    margin-left: 18%;
    padding: 15px;
    font-size: 30px;
    font-family: Verdana;
}
.caixa1{
    width: 312px;
    margin-left: 1%;
  
  
    
}

.caixa2{
    width: 910px;
    margin-left: 1%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

   

}
.caixas{
    display: flex;

    flex-wrap: wrap;
    
}


    
.label1{
    font-size: 25px;
    margin-left: 2%;
    text-decoration: underline;
    font-family: Georgia;
}
.div1{
    width: 400px;
    height: 600px;
    background-color: #7393a8b6;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black,
                0px 0px 15px black;
    border-radius: 10px;
    padding-right: 1%;

}

.nome{
    text-align: center;
    font-size: 25px;
    background-color: #7393a8b6;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black,
                0px 0px 15px black;
    border-radius: 30px;


}

.erros{
    text-align: center;
    color: red;
    font-size: 20px;
    font-family: Arial;
    background-color: black;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black,
                0px 0px 15px black;
    width: 440px;
    margin-left: 30%;
}
.posi{
    text-align: center;
    color: rgb(9, 255, 0);
    font-size: 20px;
    font-family: Arial;
    background-color: black;
    box-shadow: 0px 0px 5px black,
                0px 0px 10px black,
                0px 0px 15px black;
    width: 400px;
    margin-left: 30%;

}

.segunda p {
    white-space: pre-line;
}


.serie{
    height: 15px;
    width: 30px;
    
    
    

}



.caixa24{
    display: flex;
    justify-content: space-between; /* separa esquerda e direita */
    align-items: center;
}

.lado-esquerdo{
    display: flex;
    gap: 1px;
    align-items: center;
}

.lado-direito{
    display: flex;
    gap: 1px;
    align-items: center;
}
.lado-direito2{
    display: flex;
    gap: 10px;
    align-items: center;

}
.caixa1 p{
    margin-left: 3%;
    margin-bottom: 5%;
    font-weight: bold;
}

.lado-direito2 input{
    height: 20px;
    width: 90px;
    font-size: 15px;
    text-align: right;
    
    

}
